@import url("https://fonts.cdnfonts.com/css/overpass");
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
.App {
  background-color: #131518;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "overpass";
}
.rate-div,
.result-div {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 327px;
  padding: 24px 24px 32px 24px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.gray-p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #969fad;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .rate-div,
  .result-div {
    width: 412px;
    padding: 32px 32px 39px 32px;
  }
  h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .gray-p {
    font-size: 15px;
    line-height: 24px;
  }
}
